h1,h2,h3,h4,h5{
    text-align: center;
}

.flex{
    width: 70vw;
    height: 30vh;
    display: flex;
    margin: auto;

    flex-direction: row-reverse;  
    /*o eixo inicia pelo lado direito */

    flex-direction: column-reverse;
    /* o eixo inicia na bottom da página para o topo */

    flex-direction: column;
    /* o eixo inicia pelo topo da página para baixo */

    flex-direction: row; 
    /* o eixo inicia pelo lado esquerdo (valor padrão) */




    flex-wrap: wrap;
    /* Usado para quebrar a linha ou seja passar o restante que não coube para outra linha 

    |detalhe que a partir do momento em que ele quebra a linha é como se fosse um novo container|
     */

    flex-wrap: nowrap;
    /* Usado para manter todos os elementos em uma só linha fazendo com que eles encolham */




    flex-flow: row wrap;
    /* Essa propriedade nos permite com que juntamos a "flex-direction - primeiro valor" e "flex-wrap - segundo valor" */
}

.item{
    height: 100px;
    width: 100px;
    background-color: royalblue;
    color: seashell;
    margin: 4px;
}



/* =========================================================== */



.flex2{
    display: flex;
    height: 60vh;
    width: 70vw;
    margin: auto;
    background-color: silver;
}

.item1{
    height: 200px;
    width: 100px;
    background-color: sienna;
    color: seashell;
    margin: 4px;
    flex: 1 1 auto;
    /* 
         "flex-grow - dando um valor positivo permite com que ele possa crescer";

         "flex-shrink - dando um valor positivo permite com que ele possa encolher";

         "flex-basis - dando um valor define como o valor da base para crescer e encolher de que ponto"

         então na ordem: flex: "flex-grow" "flex-shrink" "flex-basis"
     */
}

.item1 p{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start;  
    /* stretch flex-start flex-end */
    /*
        O align-itens alinha os itens em relação ao eixo transversal (de cima para baixo)
    */
    
    justify-content: center;
    /* stretch flex-start flex-end */
    /*
        O justify-content alinha os itens em relação ao eixo principal (do lado direito para o esquerdo)
    */
    
}

.item2{
    flex: 1 1 auto;
}

.item3{
    flex: 1 1 auto;
}

/* ====================================================== */



.flex3{
    /* height: 30vh; */
    width: 70vw;
    display: flex;
    margin: auto;
    align-items: flex-start;
    flex-direction: column;
}

/* É possível alinhar os items individualmente usando o align-self */

.flex3 > *:first-child {
    align-self: stretch;
}

.itemflex1{
    background-color: salmon;
    color: black;
    margin: 4px;
    height: 200px;
    width: auto;
}

.flex3 .itemflex2{
    align-self: flex-start;
}

.itemflex2{
    height: 140px; 
    width: 100px;
}

.flex3 .itemflex3{
    align-self: flex-end;
}

.itemflex3{
    height: 140px; 
    width: 300px;
}


.flex4{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
    /* flex-direction: column; */

    /* Usado para alinhar todo o conteudo do container */
    /* 
        align-content: flex-start
        align-content: flex-end
        align-content: center
        align-content: space-between
        align-content: space-around
        align-content: stretch
        align-content: space-evenly (not defined in the Flexbox specification) 
    */
}

.flex4 div:nth-child(1){
    background-color: cornflowerblue;
    height: 100px;
    width: 30%;
    margin: 1%
}

.flex4 div:nth-child(2){
    background-color: cornflowerblue;
    height: 100px;
    width: 30%;
    margin: 1%
}

.flex4 div:nth-child(3){
    background-color: cornflowerblue;
    height: 100px;
    width: 30%;
    margin: 1%
}

.flex4 div:nth-child(4){
    background-color: cornflowerblue;
    height: 100px;
    width: 30%;
    margin: 1%
}

.flex4 div:nth-child(5){
    background-color: cornflowerblue;
    height: 100px;
    width: 30%;
    margin: 1%
}

.flex4 div:nth-child(6){
    background-color: cornflowerblue;
    height: 100px;
    width: 30%;
    margin: 1%
}

.flex4 div:nth-child(7){
    background-color: cornflowerblue;
    height: 100px;
    width: 46%;
    margin: 1%
}

.flex4 div:nth-child(8){
    background-color: cornflowerblue;
    height: 100px;
    width: 46%;
    margin: 1%
}


.flex5{
    display: flex;
    justify-content: space-between;
    flex-direction: row /*column*/;
    height: 500px;
}

.flex5 > div{
    background-color: darkgoldenrod;
    height: 100px;
    width: 100%;
    margin: 1%;
}




